<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.home">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".activity.AddSelectActivity"
            android:theme="@style/AddSelectActivityTheme"></activity>
        <activity
            android:name=".activity.StoryActivity"
            android:theme="@style/StoryActivityTheme" />
        <activity
            android:name=".activity.SearchHomeActivity"
            android:theme="@style/SearchHomeActivityTheme" />
        <activity
            android:name=".activity.MaterialActivity"
            android:theme="@style/MaterialActicityTheme" />
        <activity
            android:name=".activity.PlayActivity"
            android:theme="@style/PlayActivityTheme" />
    </application>

</manifest>