<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user">

    <application>
        <activity android:name=".activity.PlayColletionActivity"
            android:theme="@style/FavoritesActivityTheme"></activity>
        <activity
            android:name=".activity.FavoritesActivity"
            android:theme="@style/FavoritesActivityTheme" />
        <activity android:name=".activity.PersonalInformationActivity" />
        <activity android:name=".activity.SettingsActivity" />
    </application>

</manifest>